<div class = 'create-model modal-frame'>
	<h2 class = 'create-model__title'>Building business unit</h2>
	<label class = "create-model__label" for="">Pick business type</label>
	<select class = "select" #selection (change)="onOptionSelected(selection.value)">
		<option *ngFor = 'let type of retailTypes' value='{{type}}'>{{type}}</option>
	</select>
	<br>

	<label class = "create-model__label" for="">Pick selling way</label>
	<select class = "select" #sellingTypeSelection (change)="onSellingTypeSelection(sellingTypeSelection.value)">
		<option selected value="retail">Retail</option>
		<option value="market">Market</option>
	</select>
	<span *ngIf="!isEnoughMoney">Not enough money to build</span>
	
	
	<div class = "create-model__info-block">
		<span class = "create-model__players-money">Money ${{playerMoney}}</span>
		<span class = "create-model__cost" >Cost {{buildingCost}}$</span>
	</div>
	
	<button class = "game-button" (click)="onCreate()">Build</button>


	<div class = 'create-model__close' (click)="onModalCancel()">
		<span>Cancel</span>	
		<span class = "create-model__close-icon"></span>
	</div>
</div>