/* .create-model {
	
}

.create-model__title {

} */

.create-model__label {
	margin-bottom: 10px;
	font: 24px; 
}

.create-model__info-block {
	display: flex;
	align-items: center;
}

.create-model__close {
	position: absolute;
	cursor: pointer;
	top: 5px;
	right: 15px;
	width: 36px;
}

.create-model__cost, .create-model__players-money {
	padding: 15px;
	font-weight: 700;
	font-size: 30px;
}

.create-model__close-icon:before,
.create-model__close-icon:before {
	width: 100px;
	height: 2px;
	background-color: black;
}

.create-model__close-icon:before {
	transform: rotate(45deg);
}
.create-model__close-icon:after {
	transform: rotate(-45deg);
}
