<app-game-header></app-game-header>
<div>
	<app-price-info></app-price-info>

	<div class="business" *ngFor="let businessUnit of activePlayer.businessUnits">
		<app-business-unit [bizUnit]="businessUnit"></app-business-unit>
	</div>

	<div class="categories">
		<ul class="categories__list">
			<li class="categories__item">
				<button class="categories__button game-button" (click)="onGatherOpen()">
					добыча
				</button>
			</li>
			<li class="categories__item">
				<button class="categories__button game-button" (click)="onTraitOpen()">traits</button>
			</li>
			<li class="categories__item">
				<button class="categories__button game-button">переработка</button>
			</li>
			<li class="categories__item">
				<button class="categories__button game-button">ритэйл</button>
			</li>
			<li class="categories__item">
				<button class="categories__button game-button">сервисы</button>
			</li>
		</ul>
	</div>
	<app-bots-info></app-bots-info>

	<app-trait-management *ngIf="isModalVisible && modalType === 'traits'" (close)="onClose()"></app-trait-management>

	<app-creation-model *ngIf="isModalVisible && modalType === 'createModal'" (close)="onClose()"></app-creation-model>
</div>
