<header>
	<span>
		(money)
	</span>
	<span>
		(money change)
	</span>

</header>
<div>
	<div class="price-info">
		цены тут
	</div>

	<div class ="business">
		
	</div>

	<div class = "categories">
		<ul class = "categories__list">
			<li class = "categories__item"><button class = "categories__button">добыча</button></li>	
			<li class = "categories__item"><button class = "categories__button">переработка</button></li>	
			<li class = "categories__item"><button class = "categories__button">ритэйл</button></li>	
			<li class = "categories__item"><button class = "categories__button">сервисы</button></li>	
			<li class = "categories__item"><button class = "categories__button">удалить</button></li>	

		</ul>
	</div>
	<div class = "competitors">
		конкуренты тут
	</div>

</div>