.business-unit {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 230px;
	background-color:  var(--dark);
	color: var(--light);
	border-radius: 3px;
	box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3);
	margin: 5px;
}
.business-unit__statistic-block {
	display: flex;
	gap: 10px;
}

.business-unit__income--red {
	text-shadow:2px 2px 6px rgba(255, 0, 0, 0.4);
}
.business-unit__income--green {
	text-shadow:2px 2px 6px rgba(7, 255, 102, 0.4);
}

.business-unit__close {
	position: absolute;
	top: 10px;
	right: 12px;
	cursor: pointer;
}

.business-unit__header {
	box-sizing: border-box;
	width: 100%;
	height: 30px;
	background-color: white;
	color: var(--dark);
	border: 1px solid black;
	padding: 2px;
	margin: 0;
}