<div class="business-unit">
	<div class="business-unit__header-block">
		<h3 class="business-unit__header">{{ businessUnit.type }}</h3>
		<h3 class="business-unit__header">{{ businessUnit.sellingType }}</h3>
		<span (click)="deleteUnit()" class="business-unit__close">X</span>
	</div>

	<div class="business-unit__content-block">
		<div class="business-unit__statistic-block">
			<span class="business-unit__statistic-item">Amount: {{ businessUnit.amount}}</span>
			<span class="business-unit__statistic-item" [ngClass]="checkEarnedColorClass()"
				>earned: {{ businessUnit.earned }}</span
			>
			<span
				class="business-unit__statistic-item business-unit__income"
				[ngClass]="checkIncomeColorClass()"
				>income: {{ businessUnit.incomePerTick }}</span
			>
			<span class="business-unit__statistic-item"
				>expenses: {{ businessUnit.expensePerTick }}</span
			>
			<span class="business-unit__statistic-item"
				>revenue: {{ businessUnit.revenuePerTick }}</span
			>
		</div>

		<div class = "business-unit__retail-extend-block">
			<button (click)="onShowExtendDetails(true)">extend</button>
		</div>

		<div class="business-unit__interface-block">

			<div class="business-unit__button-block">
				<button class="business-unit__interface-button" (click)="onExpand()">expand</button>
				<span class = "business-unit__interface-money"> {{ expandCost }}$ </span>
			</div>
			<div class="business-unit__button-block">
				<button class="business-unit__interface-button">remove</button>
				<span class = "business-unit__interface-money"> {{ expandCost }}$ </span>
			</div>
		</div>
	</div>

	<div class = "extend" *ngIf="isExtendVisible">
		<select class = "extend__select" 
		#selection (change)="onExtendSelection(selection.value)"
		>
			<option *ngFor="let type of retailTypes" value={{type}}>{{type}}</option>
			<!-- <option value="iron">Iron</option> -->
		</select>
		<button class = "extend__button extend__add" (click)="onAddType()">add type</button>
		<button class = "extend__button"(click)="onShowExtendDetails(false)">close extend details</button>
	</div>
</div>
