.game-header {
	height: 48px;
	background-color: antiquewhite;
	color: dimgray;
	font-weight: 900;

	display: flex;
	align-items: center;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}


.game-header span {
	margin-left: 20px;
	text-shadow: 0px 0px 4px rgb(251, 255, 0);
}

.game-header__money {
	
}

.game-header__player {
	margin-right: auto;
}