<div class="trait-modal modal-frame">
	<h2 class = 'trait-modal__header'>Your traits</h2>
	
	<select class="trait-modal__select select" #selection (change)="onTraitSelection(selection.value)">
		<option *ngFor="let trait of availableTraits" value="{{ trait }}">{{ trait }}</option>
	</select>
	<span class = "trait-modal__description">{{description}}</span>
	<button class = "trait-modal__button game-button" *ngIf="!isAddCheck" (click)="onAddTrait()">add trait</button>
	<button class = "trait-modal__button game-button" *ngIf="isAddCheck" (click)="onImproveTrait()">improve trait</button>
	<span class = "trait-modal__cost"> trait cost {{ traitCost }}</span>


	<div class = "trait-modal__trait-info"  *ngFor="let singleTrait of traits">
		{{ singleTrait.name }} - {{ singleTrait.level }} level, effect : {{ singleTrait.effect }}%
		<br/>
		<span>{{ singleTrait.description }}</span>
	</div>


	<div class = 'trait-modal__close' (click)="onModalCancel()">
		<span>Cancel</span>	
	</div>
</div>
