<div class="trait-model model-frame">
	<h2 class = 'trait-model__header'>Your traits</h2>
	<br />
	<div *ngFor="let singleTrait of traits">
		{{ singleTrait.name }} - {{ singleTrait.level }} level, effect : {{ singleTrait.effect }}%
		trait description - {{ singleTrait.description }}
	</div>

	<select class="trait-model__select select" #selection (change)="onTraitSelection(selection.value)">
		<option *ngFor="let trait of availableTraits" value="{{ trait }}">{{ trait }}</option>
	</select>
	<span >{{description}}</span>
	<button class = "game-button" *ngIf="!isAddCheck" (click)="onAddTrait()">add trait</button>
	<button class = "game-button" *ngIf="isAddCheck" (click)="onImproveTrait()">improve trait</button>
	<span class = "trait-model__cost"> trait cost {{ traitCost }}</span>
	<div class = 'create-model__close' (click)="onModalCancel()">
		<span>Cancel</span>	
		<span class = "create-model__close-icon"></span>
	</div>
</div>
