.price-info {
	margin-top: 10px;
	position: absolute;
	right: 10px;
	top: 100px;
	background-color: antiquewhite;
	width: 320px;
	/* display: grid;
	grid-template-columns: 100px 100px; */
}
.price-info__price-list{
	list-style-type: none;
}

.price-info__nav {
	width: 100%;
	display: flex;
}

.price-info__nav-link--active {
	transition: .2s ease-in;
	box-shadow: 0px 4px 8px rgba(0,0,0, 0.3);
	border-bottom: 1px solid red;
	transform: scale(1.04);
}