<div class="price-info">
	<div class = "price-info__nav">
		<a href="" class = "price-info__nav-link game-button">asdfsfasdfasf</a>
		<div class="game-button">test</div>
		<a href="" class = "price-info__nav-link"></a>
	</div>
	<ul class="price-info__price-list">
		<li *ngFor="let item of marketPrices" class="price-info__list-item">
			<span  class="price-info__item">
				{{ item.name }} = {{ item.price.toFixed(2) }}$ -- {{item.amplifier.toFixed(2)}} 
			</span>
		</li>
	</ul>

	<ul class="price-info__retail-price-list">
		<li *ngFor="let item of retailPrices" class="price-info__list-item">
			<span class="price-info__item">
				{{ item.name }} = {{ item.retailPrice?.toFixed(2) }} -- {{item.retailAmplifier}}$
			</span>
		</li>
	</ul>
	<button (click)="updateMarket()">Update</button>
</div>
